/* Ínicio */
.moduleCustomType_Main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.moduleCustomType_Menu{
    display: flex; flex-flow: column;
    width: 100%;
    height: 100%;
}
.moduleCustomType_MenuElement{
    background-image: linear-gradient(312deg, rgba(107, 107, 107, 0.01) 0%, rgba(107, 107, 107, 0.01) 25%,rgba(140, 140, 140, 0.01) 25%, rgba(140, 140, 140, 0.01) 50%,rgba(140, 140, 140, 0.01) 50%, rgba(140, 140, 140, 0.01) 75%,rgba(182, 182, 182, 0.01) 75%, rgba(182, 182, 182, 0.01) 100%),linear-gradient(106deg, rgba(23, 23, 23, 0.02) 0%, rgba(23, 23, 23, 0.02) 12.5%,rgba(134, 134, 134, 0.02) 12.5%, rgba(134, 134, 134, 0.02) 25%,rgba(31, 31, 31, 0.02) 25%, rgba(31, 31, 31, 0.02) 37.5%,rgba(134, 134, 134, 0.02) 37.5%, rgba(134, 134, 134, 0.02) 50%,rgba(42, 42, 42, 0.02) 50%, rgba(42, 42, 42, 0.02) 62.5%,rgba(6, 6, 6, 0.02) 62.5%, rgba(6, 6, 6, 0.02) 75%,rgba(13, 13, 13, 0.02) 75%, rgba(13, 13, 13, 0.02) 87.5%,rgba(164, 164, 164, 0.02) 87.5%, rgba(164, 164, 164, 0.02) 100%),linear-gradient(327deg, rgba(104, 104, 104, 0.02) 0%, rgba(104, 104, 104, 0.02) 16.667%,rgba(252, 252, 252, 0.02) 16.667%, rgba(252, 252, 252, 0.02) 33.334%,rgba(79, 79, 79, 0.02) 33.334%, rgba(79, 79, 79, 0.02) 50.001000000000005%,rgba(125, 125, 125, 0.02) 50.001%, rgba(125, 125, 125, 0.02) 66.668%,rgba(84, 84, 84, 0.02) 66.668%, rgba(84, 84, 84, 0.02) 83.33500000000001%,rgba(82, 82, 82, 0.02) 83.335%, rgba(82, 82, 82, 0.02) 100.002%),linear-gradient(107deg, rgba(32, 32, 32, 0.03) 0%, rgba(32, 32, 32, 0.03) 16.667%,rgba(53, 53, 53, 0.03) 16.667%, rgba(53, 53, 53, 0.03) 33.334%,rgba(212, 212, 212, 0.03) 33.334%, rgba(212, 212, 212, 0.03) 50.001000000000005%,rgba(190, 190, 190, 0.03) 50.001%, rgba(190, 190, 190, 0.03) 66.668%,rgba(244, 244, 244, 0.03) 66.668%, rgba(244, 244, 244, 0.03) 83.33500000000001%,rgba(118, 118, 118, 0.03) 83.335%, rgba(118, 118, 118, 0.03) 100.002%),linear-gradient(55deg, rgba(30, 30, 30, 0.03) 0%, rgba(30, 30, 30, 0.03) 16.667%,rgba(90, 90, 90, 0.03) 16.667%, rgba(90, 90, 90, 0.03) 33.334%,rgba(230, 230, 230, 0.03) 33.334%, rgba(230, 230, 230, 0.03) 50.001000000000005%,rgba(94, 94, 94, 0.03) 50.001%, rgba(94, 94, 94, 0.03) 66.668%,rgba(216, 216, 216, 0.03) 66.668%, rgba(216, 216, 216, 0.03) 83%,rgba(5, 5, 5, 0.03) 83.335%, rgba(5, 5, 5, 0.03) 100.002%),linear-gradient(90deg, rgb(197, 58, 221),rgb(117, 45, 206));
    border-radius: 3px;
    flex: 1;

    display: flex;
    flex-flow: column;
    position: relative;
}

/* Parte de Baixo */
.moduleCustomType_bottomDiv {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-flow: row;
    position: absolute;
    bottom: 15px;
    left: 7px;
    width: calc(100% - 14px);
    height: auto;
    padding-bottom: 13px;
    padding-left: 15px; padding-right: 15px;
    border-radius: 4px;
    background-image: linear-gradient(312deg, rgba(107, 107, 107, 0.01) 0%, rgba(107, 107, 107, 0.01) 25%,rgba(140, 140, 140, 0.01) 25%, rgba(140, 140, 140, 0.01) 50%,rgba(140, 140, 140, 0.01) 50%, rgba(140, 140, 140, 0.01) 75%,rgba(182, 182, 182, 0.01) 75%, rgba(182, 182, 182, 0.01) 100%),linear-gradient(106deg, rgba(23, 23, 23, 0.02) 0%, rgba(23, 23, 23, 0.02) 12.5%,rgba(134, 134, 134, 0.02) 12.5%, rgba(134, 134, 134, 0.02) 25%,rgba(31, 31, 31, 0.02) 25%, rgba(31, 31, 31, 0.02) 37.5%,rgba(134, 134, 134, 0.02) 37.5%, rgba(134, 134, 134, 0.02) 50%,rgba(42, 42, 42, 0.02) 50%, rgba(42, 42, 42, 0.02) 62.5%,rgba(6, 6, 6, 0.02) 62.5%, rgba(6, 6, 6, 0.02) 75%,rgba(13, 13, 13, 0.02) 75%, rgba(13, 13, 13, 0.02) 87.5%,rgba(164, 164, 164, 0.02) 87.5%, rgba(164, 164, 164, 0.02) 100%),linear-gradient(327deg, rgba(104, 104, 104, 0.02) 0%, rgba(104, 104, 104, 0.02) 16.667%,rgba(252, 252, 252, 0.02) 16.667%, rgba(252, 252, 252, 0.02) 33.334%,rgba(79, 79, 79, 0.02) 33.334%, rgba(79, 79, 79, 0.02) 50.001000000000005%,rgba(125, 125, 125, 0.02) 50.001%, rgba(125, 125, 125, 0.02) 66.668%,rgba(84, 84, 84, 0.02) 66.668%, rgba(84, 84, 84, 0.02) 83.33500000000001%,rgba(82, 82, 82, 0.02) 83.335%, rgba(82, 82, 82, 0.02) 100.002%),linear-gradient(107deg, rgba(32, 32, 32, 0.03) 0%, rgba(32, 32, 32, 0.03) 16.667%,rgba(53, 53, 53, 0.03) 16.667%, rgba(53, 53, 53, 0.03) 33.334%,rgba(212, 212, 212, 0.03) 33.334%, rgba(212, 212, 212, 0.03) 50.001000000000005%,rgba(190, 190, 190, 0.03) 50.001%, rgba(190, 190, 190, 0.03) 66.668%,rgba(244, 244, 244, 0.03) 66.668%, rgba(244, 244, 244, 0.03) 83.33500000000001%,rgba(118, 118, 118, 0.03) 83.335%, rgba(118, 118, 118, 0.03) 100.002%),linear-gradient(55deg, rgba(30, 30, 30, 0.03) 0%, rgba(30, 30, 30, 0.03) 16.667%,rgba(90, 90, 90, 0.03) 16.667%, rgba(90, 90, 90, 0.03) 33.334%,rgba(230, 230, 230, 0.03) 33.334%, rgba(230, 230, 230, 0.03) 50.001000000000005%,rgba(94, 94, 94, 0.03) 50.001%, rgba(94, 94, 94, 0.03) 66.668%,rgba(216, 216, 216, 0.03) 66.668%, rgba(216, 216, 216, 0.03) 83%,rgba(5, 5, 5, 0.03) 83.335%, rgba(5, 5, 5, 0.03) 100.002%),linear-gradient(90deg, rgb(197, 58, 221),rgb(117, 45, 206));
    z-index: 3;
}

/* Parte de Cima */
.moduleCustomType_infoDiv {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: row;
    position: absolute;
    top: 15px;
    left: 15px;
    width: calc(100% - 30px);
    height: 40px;
    border-radius: 4px;
    background-image: linear-gradient(312deg, rgba(107, 107, 107, 0.01) 0%, rgba(107, 107, 107, 0.01) 25%,rgba(140, 140, 140, 0.01) 25%, rgba(140, 140, 140, 0.01) 50%,rgba(140, 140, 140, 0.01) 50%, rgba(140, 140, 140, 0.01) 75%,rgba(182, 182, 182, 0.01) 75%, rgba(182, 182, 182, 0.01) 100%),linear-gradient(106deg, rgba(23, 23, 23, 0.02) 0%, rgba(23, 23, 23, 0.02) 12.5%,rgba(134, 134, 134, 0.02) 12.5%, rgba(134, 134, 134, 0.02) 25%,rgba(31, 31, 31, 0.02) 25%, rgba(31, 31, 31, 0.02) 37.5%,rgba(134, 134, 134, 0.02) 37.5%, rgba(134, 134, 134, 0.02) 50%,rgba(42, 42, 42, 0.02) 50%, rgba(42, 42, 42, 0.02) 62.5%,rgba(6, 6, 6, 0.02) 62.5%, rgba(6, 6, 6, 0.02) 75%,rgba(13, 13, 13, 0.02) 75%, rgba(13, 13, 13, 0.02) 87.5%,rgba(164, 164, 164, 0.02) 87.5%, rgba(164, 164, 164, 0.02) 100%),linear-gradient(327deg, rgba(104, 104, 104, 0.02) 0%, rgba(104, 104, 104, 0.02) 16.667%,rgba(252, 252, 252, 0.02) 16.667%, rgba(252, 252, 252, 0.02) 33.334%,rgba(79, 79, 79, 0.02) 33.334%, rgba(79, 79, 79, 0.02) 50.001000000000005%,rgba(125, 125, 125, 0.02) 50.001%, rgba(125, 125, 125, 0.02) 66.668%,rgba(84, 84, 84, 0.02) 66.668%, rgba(84, 84, 84, 0.02) 83.33500000000001%,rgba(82, 82, 82, 0.02) 83.335%, rgba(82, 82, 82, 0.02) 100.002%),linear-gradient(107deg, rgba(32, 32, 32, 0.03) 0%, rgba(32, 32, 32, 0.03) 16.667%,rgba(53, 53, 53, 0.03) 16.667%, rgba(53, 53, 53, 0.03) 33.334%,rgba(212, 212, 212, 0.03) 33.334%, rgba(212, 212, 212, 0.03) 50.001000000000005%,rgba(190, 190, 190, 0.03) 50.001%, rgba(190, 190, 190, 0.03) 66.668%,rgba(244, 244, 244, 0.03) 66.668%, rgba(244, 244, 244, 0.03) 83.33500000000001%,rgba(118, 118, 118, 0.03) 83.335%, rgba(118, 118, 118, 0.03) 100.002%),linear-gradient(55deg, rgba(30, 30, 30, 0.03) 0%, rgba(30, 30, 30, 0.03) 16.667%,rgba(90, 90, 90, 0.03) 16.667%, rgba(90, 90, 90, 0.03) 33.334%,rgba(230, 230, 230, 0.03) 33.334%, rgba(230, 230, 230, 0.03) 50.001000000000005%,rgba(94, 94, 94, 0.03) 50.001%, rgba(94, 94, 94, 0.03) 66.668%,rgba(216, 216, 216, 0.03) 66.668%, rgba(216, 216, 216, 0.03) 83%,rgba(5, 5, 5, 0.03) 83.335%, rgba(5, 5, 5, 0.03) 100.002%),linear-gradient(90deg, rgb(197, 58, 221),rgb(117, 45, 206));
    z-index: 3;
}
.moduleCustomType_infoDiv .moduleCustomType_element {
    height: 100%;
    flex: 1;
    display: flex; justify-content: center; align-items: center; color: white; font-weight: bold; letter-spacing: 2px; font-size: 20px;
}

/* Caixa Principal */
.moduleCustomType_mainBox{
    flex: 8;
    display: flex; justify-content: center; align-items: center;
    flex-flow: row;
}
.moduleCustomType_mainBox .moduleCustomType_secondBox{
    flex: 1;
    display: flex; justify-content: center; align-items: center;
    flex-flow: column;
    height: 100%;
    width: 100%;
    position: relative;
}

/* Janela de Lugares Disponíveis */
.moduleCustomType_mainBox .team_BoxList{
    display: flex; justify-content: center; align-items: center;
    flex-flow: column;
    position: relative;
    padding: 7px;
    padding-top: 37px;
    border-radius: 10px;
    min-width: 300px;
}
#teamA_Box .team_BoxList{
    background: #050c13;
}
#teamB_Box .team_BoxList{
    background: #cdf4fa;
}

/* Container de Usuário e Lembrete "Rebelião" e "Conselho" */
.moduleCustomType_mainBox .moduleCustomType_userContainer{
    border-radius: 10px;
    height: 80px;
    width: 300px;
    position: relative;
    margin: 5px;
    overflow: hidden;
}
.moduleCustomType_mainBox .moduleCustomType_teamExplainer{
    width: 100%;
    position: absolute;
    top: 7px;
    display: flex;
    justify-content: center; align-items: center;
}
#teamA_Box .moduleCustomType_userContainer{
    background: #171b1f;
}
#teamB_Box .moduleCustomType_userContainer{
    background: #aec6ca;
}
#teamA_Box .moduleCustomType_teamExplainer{
    color: white;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 20px;
}
#teamB_Box .moduleCustomType_teamExplainer{
    color: #050c13;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 20px;
}

/* Cores de Fundo */
#teamA_Box{
    background: white;
}
#teamB_Box{
    background: #050c13;
}

/* Caixa de Partículas */
.team_BoxBackground{
    position: absolute;
    width: 100%;
    height: 100%;
}
#teamA_Box .team_BoxBackground{
    -webkit-mask-image:-webkit-linear-gradient(right, rgba(0,0,0,1) 70%, rgba(0,0,0,0));
}  
#teamB_Box .team_BoxBackground{
    -webkit-mask-image:-webkit-linear-gradient(left, rgba(0,0,0,1) 40%, rgba(0,0,0,0));
}  

/* Caixa de Usuário */
.moduleCustomType_userBox{
    width: 100%;
    height: 100%;

    display: flex; justify-content: start; align-items: center;
    flex-flow: row;
    overflow: hidden;
    position: relative;
    color: white;

    background-image: linear-gradient(312deg, rgba(107, 107, 107, 0.01) 0%, rgba(107, 107, 107, 0.01) 25%,rgba(140, 140, 140, 0.01) 25%, rgba(140, 140, 140, 0.01) 50%,rgba(140, 140, 140, 0.01) 50%, rgba(140, 140, 140, 0.01) 75%,rgba(182, 182, 182, 0.01) 75%, rgba(182, 182, 182, 0.01) 100%),linear-gradient(106deg, rgba(23, 23, 23, 0.02) 0%, rgba(23, 23, 23, 0.02) 12.5%,rgba(134, 134, 134, 0.02) 12.5%, rgba(134, 134, 134, 0.02) 25%,rgba(31, 31, 31, 0.02) 25%, rgba(31, 31, 31, 0.02) 37.5%,rgba(134, 134, 134, 0.02) 37.5%, rgba(134, 134, 134, 0.02) 50%,rgba(42, 42, 42, 0.02) 50%, rgba(42, 42, 42, 0.02) 62.5%,rgba(6, 6, 6, 0.02) 62.5%, rgba(6, 6, 6, 0.02) 75%,rgba(13, 13, 13, 0.02) 75%, rgba(13, 13, 13, 0.02) 87.5%,rgba(164, 164, 164, 0.02) 87.5%, rgba(164, 164, 164, 0.02) 100%),linear-gradient(327deg, rgba(104, 104, 104, 0.02) 0%, rgba(104, 104, 104, 0.02) 16.667%,rgba(252, 252, 252, 0.02) 16.667%, rgba(252, 252, 252, 0.02) 33.334%,rgba(79, 79, 79, 0.02) 33.334%, rgba(79, 79, 79, 0.02) 50.001000000000005%,rgba(125, 125, 125, 0.02) 50.001%, rgba(125, 125, 125, 0.02) 66.668%,rgba(84, 84, 84, 0.02) 66.668%, rgba(84, 84, 84, 0.02) 83.33500000000001%,rgba(82, 82, 82, 0.02) 83.335%, rgba(82, 82, 82, 0.02) 100.002%),linear-gradient(107deg, rgba(32, 32, 32, 0.03) 0%, rgba(32, 32, 32, 0.03) 16.667%,rgba(53, 53, 53, 0.03) 16.667%, rgba(53, 53, 53, 0.03) 33.334%,rgba(212, 212, 212, 0.03) 33.334%, rgba(212, 212, 212, 0.03) 50.001000000000005%,rgba(190, 190, 190, 0.03) 50.001%, rgba(190, 190, 190, 0.03) 66.668%,rgba(244, 244, 244, 0.03) 66.668%, rgba(244, 244, 244, 0.03) 83.33500000000001%,rgba(118, 118, 118, 0.03) 83.335%, rgba(118, 118, 118, 0.03) 100.002%),linear-gradient(55deg, rgba(30, 30, 30, 0.03) 0%, rgba(30, 30, 30, 0.03) 16.667%,rgba(90, 90, 90, 0.03) 16.667%, rgba(90, 90, 90, 0.03) 33.334%,rgba(230, 230, 230, 0.03) 33.334%, rgba(230, 230, 230, 0.03) 50.001000000000005%,rgba(94, 94, 94, 0.03) 50.001%, rgba(94, 94, 94, 0.03) 66.668%,rgba(216, 216, 216, 0.03) 66.668%, rgba(216, 216, 216, 0.03) 83%,rgba(5, 5, 5, 0.03) 83.335%, rgba(5, 5, 5, 0.03) 100.002%),linear-gradient(90deg, rgb(197, 58, 221),rgb(117, 45, 206));
}

.moduleCustomType_userBox .icon{
    flex: 1;
    border-radius: 100px;
    overflow: hidden;
    position: relative;
    margin: 3px;
    height: 75px;
    max-width: 75px;
    min-width: 75px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.moduleCustomType_userBox .icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.moduleCustomType_userBox .info{
    flex: 2;
    display: flex; justify-content: start; align-items: center;
    color: white;
    padding: 5px;
    flex-flow: column;
    font-size: 15px;
    font-weight: bold;
}

.moduleCustomType_userBox .info div{
    text-align: start;
    width: 100%;
    padding-left: 10px;
}

.moduleCustomType_userBox .leader{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moduleCustomType_userBox .promoveToLeader{
    border-radius: 15px;
    background: white;
    color: rgb(46, 46, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    height: 29px;
    max-width: 29px;
    margin-right: 20px;

    cursor: pointer;
    transition-property: transform; transition-duration: 0.2s;
}

.moduleCustomType_userBox .promoveToLeader:hover{
    transform: scale(1.07, 1.07);
}

.moduleCustomType_userBox .closeUserBox{
    border-radius: 15px;
    background: white;
    color: rgb(46, 46, 46);
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 5px;
    top: 5px;

    height: 15px;
    width: 15px;
    font-size: 11px;

    cursor: pointer;
    transition-property: transform; transition-duration: 0.2s;
}

.moduleCustomType_userBox .closeUserBox:hover{
    transform: scale(1.04, 1.04);
}

.moduleCustomType_userBox .goToOtherTeam{
    border-radius: 15px;
    background: white;
    color: rgb(46, 46, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    position: absolute;
    height: 21px;
    width: 21px;
    font-size: 13px;

    cursor: pointer;
    transition-property: transform; transition-duration: 0.2s;
}

#teamA_Box .goToOtherTeam{
    right: 5px;
    bottom: 5px;
}

#teamA_Box .goToOtherTeam:hover{
    transform: scale(1.07, 1.07);
}

#teamB_Box .goToOtherTeam{
    left: 5px;
    bottom: 5px;
    transform: scale(-1, 1);
}

#teamB_Box .goToOtherTeam:hover{
    transform: scale(-1.07, 1.07);
}
