body, html{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background: rgb(77, 77, 77);
    padding: 0px !important;

    width: 100%; height: 100% !important;
    user-select: none !important;
}

.root{
    width: 100%; height: 100%; position: relative;
}

#root{
    width: 100%; height: 100%; position: relative;
}